assignement1/main
assignement2/main
assignement1/ee-tik-cn*.png
assignement2/assigment2_gthi.zip
assignement3/libkrypto.so
.vscode/settings.json
assignement3/obj/*
assignement4/*.d
assignement4/*.o
16-821-837*